<br />
<div class="booyah-box col-10 offset-1">
  <h1>Add a new course</h1>

  <%= simple_form_for @course, url: instructor_courses_path do |f| %>
      <label>Title</label>
      <%= f.input :title, label: false %>
      <label>Description</label>
      <%= f.input :description, label: false %>
      <label>Cost</label>
      <%= f.input :cost, label:false %>
      <br />
      <label>Image</label>
      <%= f.input :image, label:false %>
      <br />
      <%= f.submit "Create", class: 'btn btn-primary' %>
      <br />
  <% end %>
  <br />
</div>